.code-page #welcome-panel {
  position: static;
  top: 75px;
  left: 0;
  width: 100%;
  margin-top: 0;
  margin-left: 0;
  z-index: 299;
  transition: opacity .5s;
  color: black;
  text-align: center;
  z-index: 0;
  padding-top: 78px;
  min-height: 620px; }

.code-page #welcome-panel.mobile {
  min-height: 600px; }

#welcome-image-code {
  position: absolute;
  left: 50%;
  top: 115px;
  margin-left: -750px;
  z-index: -10; }

#welcome-image-code.mobile {
  top: 85px; }

#welcome-card-image {
  width: 1500px;
  height: 475px; }

#welcome-card-image.mobile {
  width: 1200px;
  height: 375px;
  margin-top: 85px;
  margin-left: 150px; }

.code-header h1 {
  font-size: 23px;
  padding: 0;
  margin: 6px;
  font-weight: bold; }

.code-subhead {
  font-size: 17px;
  font-weight: medium;
  padding: 0px 40px; }

#code-loading {
  height: 42px;
  margin-top: 30px;
  position: relative;
  z-index: 0;
  margin-bottom: -42px; }

#code-sign-in-link {
  font-size: 12px;
  padding-top: 16px; }

#code-sign-in-link span {
  cursor: pointer;
  color: #ef5b34; }

#google-sign-in-link {
  display: inline-block;
  background-image: url("../img/google-signin-btn.png");
  background-size: 155px 37px;
  width: 155px;
  height: 37px; }

#google-sign-in-link:focus {
  background-image: url("../img/google-signin-btn-focus.png"); }

#google-sign-in-link:active {
  background-image: url("../img/google-signin-btn-pressed.png"); }

.code-page #button-start-tour {
  visibility: visible;
  font-size: 21px;
  font-weight: normal;
  padding: 18px 45px;
  margin-top: -9px; }

.code-page #marketing-panel {
  width: 100%;
  transition: opacity .5s;
  overflow: hidden;
  position: normal;
  margin: 0;
  padding: 0; }

@media screen and (max-width: 650px) {
  #welcome-image-code {
    top: 145px; } }
