.headerbar-hoc {
  position: absolute;
  width: 225px;
  top: 10px;
  left: 10px;
  font-size: 24px;
  color: #24d6d7;
  transition: all .5s;
  letter-spacing: -1px;
  cursor: pointer;
  padding-top: 50px;
  background-image: url(../img/logo-color.png);
  background-size: 210px;
  background-repeat: no-repeat;
  background-position: 10px 0px; }

.headerbar-hoc small {
  font-size: 12px;
  position: relative;
  top: -10px; }

.headerbar-scrolled .headerbar-hoc {
  top: 7px;
  width: 300px;
  padding-top: 0px;
  background-size: 110px; }

.white .headerbar-hoc {
  display: none; }

#marketing-panel {
  position: relative;
  margin-top: 130px;
  z-index: 0; }

.hoc-subhead-panel {
  padding: 25px;
  font-size: 23px;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  z-index: 500;
  margin-top: 0;
  height: auto;
  position: relative;
  background-color: #d45500;
  font-weight: bold;
  color: white;
  text-align: center; }

.hoc-print-panel {
  text-align: left;
  background-color: #e5e5e5;
  max-width: 900px;
  margin: auto;
  padding: 20px 20px 0 20px;
  border: 20px solid white; }

.hoc-print-thumb-panel {
  display: inline-block;
  width: 200px;
  vertical-align: top;
  text-align: center;
  margin-right: 20px;
  vertical-align: top;
  margin-bottom: 20px; }

.hoc-print-description {
  text-align: left;
  display: inline-block;
  vertical-align: top;
  max-width: 60%;
  margin-bottom: 20px;
  line-height: 20px; }

.hoc-print-description li {
  margin-bottom: 6px; }

.hoc-print-thumb {
  background-color: white;
  height: 200px;
  width: 200px;
  margin-bottom: 12px; }

.hoc-print-thumb-panel .button-flat {
  width: 200px;
  margin-top: 9px; }

.hoc-print-panel h2 {
  margin-top: 0; }

@media screen and (max-width: 650px) {
  .hoc-print-panel {
    text-align: center; } }

#press-panel {
  padding: 35px;
  font-size: 23px;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  z-index: 500;
  margin-top: 0;
  height: auto;
  position: relative; }

#press-panel a {
  text-decoration: none; }

#press-panel a:hover {
  text-decoration: underline; }

#hoc-panel {
  text-align: center;
  padding: 0 60px 20px 60px;
  position: fixed;
  z-index: 500;
  bottom: 0;
  width: 100%; }

#hoc-panel a {
  text-decoration: none;
  color: #24d6d7; }

#hoc-panel a:hover {
  text-decoration: underline; }

#hoc-panel p {
  color: #666;
  font-size: 12px;
  margin: auto;
  max-width: 600px; }

.hoc-header h1 {
  font-size: 35px;
  font-weight: normal;
  letter-spacing: -1px;
  padding: 0 10px;
  margin-top: 20px;
  margin-bottom: 0px; }

.hoc-subhead {
  color: #d45500;
  font-size: 20px;
  padding: 10px 40px; }

.hoc-activity-panel {
  display: inline-block;
  max-width: 400px;
  padding: 0 35px;
  text-align: left;
  vertical-align: top;
  margin-top: 40px;
  line-height: 22px; }

.hoc-activity-panel-right {
  max-width: 550px;
  border-left: 1px solid silver; }

.hoc-activity-panel a {
  color: #24d6d7;
  text-decoration: none; }

.hoc-activity-panel a:hover {
  text-decoration: underline; }

.hoc-activity-panel h1 {
  margin: 6px 0 16px 0;
  letter-spacing: -1px; }

.hoc-activity-panel h2 {
  color: #24d6d7;
  margin: 0;
  text-transform: uppercase; }

.hoc-activity-panel h3 {
  margin-bottom: -12px; }

.hoc-activity-panel-title {
  margin: 6px 0 16px 0;
  letter-spacing: -1px;
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold; }

.hoc-activity-panel img {
  margin-bottom: -16px;
  margin-top: 12px; }

.hoc-activity-panel em {
  color: #d45500;
  font-style: normal; }

@media screen and (max-width: 975px) {
  .hoc-activity-panel {
    max-width: 550px; }
  .hoc-activity-panel-right {
    border-left: 0; }
  .hoc-header {
    max-width: 500px;
    margin: auto;
    margin-top: 40px; } }

#welcome-panel {
  position: relative;
  top: 100px;
  left: 0;
  width: 100%;
  margin-top: 0;
  margin-left: 0;
  z-index: 299;
  transition: opacity .5s;
  color: black;
  text-align: center;
  z-index: 0; }

#welcome-arrow {
  display: none; }

#welcome-image-hoc {
  position: relative;
  margin-bottom: -500px;
  margin-right: -601px;
  margin-left: -601px;
  margin-top: 20px;
  z-index: 0; }

#hoc-loading {
  height: 42px;
  margin-top: 280px;
  position: relative;
  z-index: 0;
  margin-bottom: -42px; }

#button-start-tour {
  padding: 13px 25px;
  position: relative;
  z-index: 290; }

.hoc-questions {
  max-width: 550px;
  padding: 0 40px;
  margin: auto;
  line-height: 25px; }

.hoc-questions h3 {
  margin-top: 40px;
  margin-bottom: 12px; }

.hoc-in-advance {
  line-height: 25px;
  margin: auto;
  max-width: 550px;
  padding: 0 40px; }

.hoc-in-advance h3 {
  margin-top: 40px;
  margin-bottom: 12px; }

.in-advance-intro-paragraph {
  color: #d45500 !important;
  font-size: 18px;
  line-height: 1.4;
  margin-top: -20px; }

h3.in-advance-subheader {
  font-weight: bold;
  line-height: 1.3;
  margin-top: 30px; }

.in-advance-ul-no-bullet {
  list-style-type: none; }

.hoc-whats-next {
  line-height: 25px;
  margin: auto;
  max-width: 550px;
  padding: 0 40px; }

.hoc-whats-next h3 {
  margin-bottom: 12px;
  margin-top: 40px; }

.whats-next-intro-paragraph {
  color: #d45500 !important;
  font-size: 18px;
  line-height: 1.4;
  margin-top: -20px; }

h3.whats-next-subheader {
  font-weight: bold;
  line-height: 1.3;
  margin-top: 30px; }

.whats-next-ul-no-bullet {
  list-style-type: none; }

.week-of-making {
  display: inline-block;
  position: relative;
  left: 18px;
  top: 1px; }

.headerbar-scrolled .week-of-making {
  left: 6px; }

@media screen and (max-width: 650px) {
  .hoc-header {
    margin-top: 50px;
    padding: 0 50px; }
  .headerbar-hoc {
    left: 50%;
    margin-left: -110px;
    top: 50px;
    width: 235px; }
  .headerbar-scrolled .headerbar-hoc {
    left: 10px;
    margin-left: 0; }
  #marketing-panel {
    position: relative;
    margin-bottom: 0px; }
  #hoc-panel {
    padding-top: 40px;
    position: relative; } }

@media screen and (max-height: 740px) {
  #hoc-panel {
    padding-top: 40px;
    position: relative; } }
