*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: white;
  font-family: "Gotham SSm A", "Gotham SSm B", "Montserrat", sans-serif;
  font-size: 15px;
  color: #666;
  padding: 0;
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll; }

.page h1 {
  font-family: "Gotham SSm A", "Gotham SSm B", "Montserrat", sans-serif;
  font-size: 26px; }

.page h2 {
  font-weight: normal;
  font-size: 24px;
  margin: -9px 0 40px 0; }

.page p {
  max-width: 540px;
  margin: auto; }

.page .p-gray {
  max-width: 700px;
  margin: auto;
  font-size: 23px;
  color: #4e4e4e;
  margin-top: 6px; }

.page input {
  border: none;
  border-radius: 12px;
  font-family: "Gotham SSm A", "Gotham SSm B", "Montserrat", sans-serif;
  font-size: 18px;
  width: 300px;
  text-align: center;
  padding: 9px;
  outline: none;
  margin-bottom: 12px;
  color: #df1f2d; }

.page-spacer {
  height: 100%;
  border: 12px solid green; }

.page-title {
  font-family: "Gotham SSm A", "Gotham SSm B", "Montserrat", sans-serif;
  font-size: 26px;
  display: block;
  margin-top: 0.67em;
  margin-bottom: 12px;
  margin-left: 0;
  margin-right: 0;
  font-weight: normal;
  letter-spacing: -.5px; }

.page {
  font-size: 17px;
  padding: 60px 30px;
  position: block;
  width: 100%;
  height: auto;
  text-align: center;
  display: table;
  color: black;
  font-weight: normal; }

.page-content {
  /*
  vertical-align: middle;
  display: table-cell;
  height: 100%;
  width: 100%;
  */ }

/*
#page1 {
  top: 0;
  background-color: #df1f2d;
  color: white;
  transition: background-color .3s;
  -moz-transition: background-color .3s;
}
#page2 {
  top: 200%;
  background-color: black;
  color: white;
}
#page2 iframe {
  margin-bottom: 9px;
}
#page3 {
  top: 200%;
  background-color: #fec111;
}
#page4 {
  top: 300%;
  background-color: #514199;
}
#page5 {
  top: 400%;
  background-color: #f35d28;
}
#page6 {
  top: 500%;
  background-color: #9f1f63;
}
#page7 {
  top: 600%;
  background-color: white;
  color: #666;
}

#page7 img {
  display: inline-block;
  border: none;
  vertical-align: top;
  margin-top: 6px;
}
#page7 img:hover {
  margin-top: 0px;
}
*/
#marketing-panel {
  width: 100%;
  transition: opacity .5s;
  overflow: hidden;
  position: relative;
  z-index: 1; }

#marketing-panel.hidden {
  display: none; }

#magazine-panel {
  position: absolute;
  width: 100%;
  background: #333;
  top: 100%;
  height: 100%;
  color: white;
  /* min-width: 800px; */ }

#magazine-panel .welcome-text {
  color: #666; }

#magazine-cover {
  width: 367px;
  height: 514px;
  /* box-shadow: 4px 8px rgba(0,0,0,.2); */
  background-image: url(../img/magazine-cover.png);
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -250px;
  margin-left: 70px;
  /*transform: rotate(8deg);
  -webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);*/ }

#magazine-message {
  width: 450px;
  position: absolute;
  left: 50%;
  margin-left: -360px;
  top: 50%;
  margin-top: -150px; }

.icon-level-panel {
  padding: 0 15px;
  height: 100px;
  overflow: hidden; }

.icon-level-panel img {
  display: inline-block;
  width: 100px;
  height: 100px; }

.icon-level {
  display: inline-block;
  width: 115px;
  margin-left: 0px;
  margin-right: -12px;
  height: 100px;
  background-size: 25px 100px;
  background-position: right center;
  background-repeat: no-repeat;
  background-image: url(../img/icon-level-arrow.png);
  text-align: left; }

.icon-level-arrow {
  display: inline-block;
  width: 25px;
  margin-left: -15px;
  margin-right: -10px;
  height: 100px;
  background-size: 25px 100px;
  background-image: url(../img/icon-level-arrow.png); }

.icon-level-head {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -1px;
  margin-bottom: 30px; }

.icon-level-subhead {
  font-size: 20px;
  max-width: 650px;
  display: block;
  font-weight: lighter;
  margin: 30px auto;
  line-height: 28px; }

.icon-level-cap-arrows {
  width: 50px;
  height: 100px; }

.icon-level-cap-arrows .icon-level-arrow {
  margin-right: 2px;
  position: relative;
  left: -9px;
  top: 2px; }

.bitsbox-product-photo {
  width: 100%;
  max-width: 900px; }

#overview-panel table {
  margin: 0 auto; }

/* Hide concept bubbles on mobile devices */
@media screen and (max-width: 470px) {
  #homepage-image-conceptbubbles {
    display: none; } }
