<html>
<button onclick="loadassets('find-commands');">GO BACK</button>
<div class="docs-panel">
    <h2 class="c8 c13" id="h.vn9dj8juk0ur"><span>box()</span></h2>
    <p class="c6"><span></span></p>
    <p class="c8"><span>Lexi's box command lets you draw rectangles of any size and color.</span></p>
    <p class="c6"><span class="c38"></span></p>
    <p class="c8"><span>You can use the box command with a lot of different </span><span
            class="c20">parameters</span><span>, or options.</span><span>&nbsp;The color parameters are optional.</span>
    </p>
    <p class="c6"><span></span></p>
    <ul class="c10 lst-kix_r15htit7m0ee-0 start">
        <li class="c4 c5"><span class="c11 c0">box(</span><span class="c21 c0">X, Y, WIDTH</span><span class="c21 c0">,
                HEIGHT</span><span class="c23 c21 c0">, </span><span class="c12 c0">COLOR</span><span
                class="c21 c0 c23">, </span><span class="c12 c0">LINECOLOR</span><span class="c11 c0">)</span></li>
    </ul>
    <p class="c6"><span></span></p>
    <p class="c8"><span>The most basic usage takes four numbers. The first pair of numbers is the x and y position of
            the box's top-left corner. The second is its size.</span></p>
    <p class="c6"><span></span></p>
    <ol class="c10 lst-kix_4wp3tefgf4pf-0 start" start="1">
        <div class="comment">A square at position 90,90 that's 400 pixels in size.</div>
        <div class="button-run-docs" index="0"></div><textarea>box(90,90,400,400)</textarea>
        <div class="comment">The same square, but now it's in a new place.</div>
        <div class="button-run-docs" index="1"></div><textarea>box(100,500,400,400)</textarea>
        <div class="comment">Now it's not a square, but a rectangle 100 pixels tall.</div>
        <div class="button-run-docs" index="2"></div><textarea>box(100,500,400,100)</textarea>
    </ol>
    <p class="c6"><span></span></p>
    <p class="c8"><span>You can also pass in color names for the box's background color and line color.</span></p>
    <p class="c6"><span></span></p>
    <ol class="c10 lst-kix_k54h3y8ltysp-0 start" start="1">
        <div class="comment">A small, tan square.</div>
        <div class="button-run-docs" index="3"></div><textarea>box(360,500,50,50,'tan')</textarea>
        <div class="comment">Now it's a tan square with a red border.</div>
        <div class="button-run-docs" index="4"></div><textarea>box(360,500,50,50,'tan','red')</textarea>
    </ol>
    <p class="c6"><span></span></p>
    <p class="c8"><span>To change the thickness of the line, you can call the line command first, like so:</span></p>
    <p class="c6"><span></span></p>
    <ol class="c10 lst-kix_j0necpbgv88n-0 start" start="1">
        <div class="button-run-docs" index="5"></div><textarea>line(20)
box(30,30,90,90,'tan','red')
</textarea>
    </ol>
    <p class="c6"><span class="c0"></span></p>
    <p class="c8"><span>There's a special color, 'clear' for when want a box with a border but no inside color.</span>
    </p>
    <p class="c6"><span></span></p>
    <ol class="c10 lst-kix_wd7hrl3z41nk-0 start" start="1">
        <div class="comment">A small, clear box with a red border.</div>
        <div class="button-run-docs" index="6"></div><textarea>box(30,30,90,90,'clear','red')</textarea>
    </ol>
    <p class="c4 c19 c15"><span></span></p>
</div>

</html>