<html>
    <button onclick="loadassets('find-commands');">GO BACK</button>
<div class="docs-panel">
    <h2 class="c24" id="h.guf7rhbbwah"><span class="c1">.fontSize</span></h2>
    <p class="c3"><span class="c0"></span></p>
    <p class="c8"><span class="c0">This variable exists in a text object. It reports the current font size of that text
            object. This is in points, and does not directly relate to pixels. For example, this code will display the
            words 'font size' and then '50'.</span></p>
    <p class="c3"><span class="c0"></span></p>
    <ol class="c5 lst-kix_4ifnvuxwbttc-0 start" start="1">
        <div class="button-run-docs" index="0"></div><textarea>a = text('font size',50)
    text(a.fontSize,400,600)
    </textarea>
    </ol>
    <p class="c3"><span class="c0"></span></p>
</div>

</html>