<html>
    <button onclick="loadassets('find-commands');">GO BACK</button>
<div class="docs-panel">
    <h2 class="c24" id="h.r9fmllz26y4x"><span class="c25">.</span><span class="c25">hidden</span></h2>
    <p class="c2 c6"><span class="c1"></span></p>
    <p class="c2"><span class="c1">Contains whether the stamp is currently hidden. For example, this will show the text
            "true" and then "false".</span></p>
    <p class="c2 c6"><span class="c1"></span></p>
    <ol class="c7 lst-kix_m0o8eyicyg4n-0 start" start="1">
        <div class="button-run-docs" index="0"></div><textarea>a = stamp('apple',400,200)
    b = stamp('bear',150)
    a.hide()
    text(a.hidden,200,200)
    text(b.hidden,200,500)</textarea>
    </ol>
</div>

</html>