<html>
    <button onclick="loadassets('find-commands');">GO BACK</button>
<div class="docs-panel">
    <h2 class="c24" id="h.76okts17um25"><span class="c21">.x / .y / .z</span></h2>
    <p class="c2 c6"><span class="c1"></span></p>
    <p class="c2"><span class="c1">These variables exist inside stamps, text objects, and circles. They report the
            current x and y position on screen. For example, this will write "200" and then "400" to the screen.</span>
    </p>
    <p class="c2 c6"><span class="c1"></span></p>
    <ol class="c7 lst-kix_w0cau7omt3mi-0 start" start="1">
        <div class="button-run-docs" index="0"></div><textarea>a = stamp('apple',100,400)
    a.move(RIGHT,100)
    text(a.x,100,600)
    text(a.y,100,700)</textarea>
    </ol>
    <p class="c2 c6"><span class="c0"></span></p>
</div>

</html>