<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
</head>

<body cz-shortcut-listen="true" style="margin-bottom: 36px !important;">
	<div class="docs-panel">
		Every programming language provides a set of commands that the computer
		can understand. Click a Lexi command to learn what it does.
		<hr/>
		<div class="columns">
			<div class="column1">
				<h4>Drawing</h4>
				<a href="#box" onclick="loadassets('box')">box</a><br>
				<a href="#circle" onclick="loadassets('circle')">circle</a><br>
				<a href="#color" onclick="loadassets('color')">color</a><br>
				<a href="#fill" onclick="loadassets('fill')">fill</a><br>
				<a href="#line" onclick="loadassets('line')">line</a><br>
				<a href="#stamp" onclick="loadassets('stamp')">stamp</a><br>
				<a href="#text" onclick="loadassets('text')">text</a><br>
			</div>

			<div class="column2">
				<h4>General</h4>
				<a href="#delay" onclick="loadassets('delay')">delay</a><br>
				<a href="#distance" onclick="loadassets('distance')">distance</a><br>
				<a href="#find" onclick="loadassets('find')">find</a><br>
				<a href="#lookpeek" onclick="loadassets('lookpeek')">look/peek</a><br>
				<a href="#loop" onclick="loadassets('loop')">loop</a><br>
				<a href="#offscreen" onclick="loadassets('offscreen')">offscreen</a><br>
				<a href="#random" onclick="loadassets('random')">random</a><br>
				<a href="#repeat" onclick="loadassets('repeat')">repeat</a><br>
				<a href="#reset" onclick="loadassets('reset')">reset</a><br>
			</div>

			<div class="column3">
				<h4>Interactions</h4>
				<a href="#drag"  onclick="loadassets('drag')">drag</a>
				<a href="#sendget"  onclick="loadassets('sendget')">send/get</a><br>
				<a href="#tap"  onclick="loadassets('tap')">tap</a><br>
				<a href="#touch"  onclick="loadassets('touch')">touch</a><br>
				<a href="#touching"  onclick="loadassets('touching')">touching</a><br>
				<a href="#untouch"  onclick="loadassets('untouch')">untouch</a><br>
			</div>

			<div class="column4">
				<h4>Audio</h4>
				<a href="#sound"  onclick="loadassets('sound')">sound</a><br>
				<a href="#song" onclick="loadassets('song')">song</a><br>
				<a href="#silence" onclick="loadassets('silence')">silence</a><br>
			</div>
		</div>

		<hr>
		<h4>Dot Commands</h4>

		<div class="columns">
			<div class="columnwide">
				<a href="#dotaim" onclick="loadassets('dotaim')">.aim</a><br>
				<a href="#dotbackfront" onclick="loadassets('dotbackfront')">.back/.front</a><br>
				<a href="#dotchange" onclick="loadassets('dotchange')">.change</a><br>
				<a href="#dotdance" onclick="loadassets('dotdance')">.dance</a><br> 
				<a href="#dotexplodepopsplashburnpow" onclick="loadassets('dotexplodepopsplashburnpow')">.explode/.pop /.splash/.burn/.pow</a>
				<a href="#dotflip" onclick="loadassets('dotflip')">.flip</a><br>
				<a href="#dotfontsize" onclick="loadassets('dotfontsize')">.fontSize</a><br>
				<a href="#dotheightwidth" onclick="loadassets('dotheightwidth')">.height/.width</a><br>
				<a href="#dothidden" onclick="loadassets('dothidden')">.hidden</a><br>
				<a href="#dothideshow" onclick="loadassets('dothideshow')">.hide/.show</a><br>
				<a href="#dothits" onclick="loadassets('dothits')">.hits</a>
			</div>
			<div class="columnwide">
				<a href="#dotmove" onclick="loadassets('dotmove')">.move</a><br>
				<a href="#dotrotate" onclick="loadassets('dotrotate')">.rotate</a><br>
				<a href="#dotrotation" onclick="loadassets('dotrotation')">.rotation</a><br>
				<a href="#dotsing" onclick="loadassets('dotsing')">.sing</a><br>
				<a href="#dotsize" onclick="loadassets('dotsize')">.size</a><br>
				<a href="#dotswim" onclick="loadassets('dotswim')">.swim</a><br>
				<a href="#dottap" onclick="loadassets('dottap')">.tap</a><br>
				<a href="#dotwrap" onclick="loadassets('dotwrap')">.wrap</a><br>
				<a href="#dotxyz" onclick="loadassets('dotxyz')">.x/.y/.z</a>
			</div>
		</div>


	</div>
</body>

</html>