<html>
        <button onclick="loadassets('find-commands');">GO BACK</button>
<div class="docs-panel">
    <h2 class="c8 c13" id="h.btjuiweb0td2"><span>Loops</span></h2>
    <p class="c6"><span></span></p>
    <p class="c8"><span class="c38">Many computer programs—particularly games—include activity that's constant: a ball
            is always moving; a steady stream of bad guys are coming at you; a target moves back and forth across the
            screen. In programming terms, any code that's supposed to keep running over and over is contained inside of
            a loop.</span></p>
    <p class="c6"><span></span></p>
    <p class="c8"><span>There are many different kinds of loops. Some never stop. Some loop a prescribed number of
            times. Some loop until a particular condition is met. Some loop only while a particular condition is true.
            Each has its purpose.</span></p>
    <p class="c6"><span></span></p>
    <p class="c8"><span>Lexi's built-in loop function makes it easier to write looping code. Any code inside a loop
            function runs 20 times per second. Here's a program that endlessly draws apples on the screen.</span></p>
    <p class="c6"><span></span></p>
    <ol class="c10 lst-kix_iep8aq2sy2df-0 start" start="1">
        <div class="button-run-docs" index="0"></div><textarea>function loop() {
    &nbsp; stamp('apple').move()
    }
    </textarea>
    </ol>
    <p class="c6"><span></span></p>
    <p class="c8"><span>Lexi's repeat command is another kind of loop; it loops a set number of times by calling a
            custom function. This program draws random oranges on the screen by calling the fruit() function 10
            times.</span></p>
    <p class="c6"><span></span></p>
    <ol class="c10 lst-kix_jkgmzy5nydd6-0 start" start="1">
        <div class="button-run-docs" index="1"></div><textarea>function fruit() {
    &nbsp; stamp('orange').move()
    }
    repeat(fruit, 10)
    </textarea>
    </ol>
    <p class="c6"><span></span></p>
    <p class="c8"><span>Javascript has many other kinds of loops that are handy, but maybe a little harder to
            understand. Here's how one could draw 10 limes with a while loop:</span></p>
    <p class="c6"><span></span></p>
    <ol class="c10 lst-kix_nflab0fft4sb-0 start" start="1">
        <div class="button-run-docs" index="2"></div><textarea>count = 0
    while (count &lt;= 10) {
    &nbsp; stamp('lime').move()
    &nbsp; count = count + 1
    }
    </textarea>
    </ol>
    <p class="c6"><span></span></p>
    <p class="c8"><span>Here's how one could draw 10 pears with a for loop:</span></p>
    <p class="c6"><span></span></p>
    <ol class="c10 lst-kix_gz02btemoduu-0 start" start="1">
        <div class="button-run-docs" index="3"></div><textarea>for (count = 0; count &lt;= 10; count++) {
    &nbsp; stamp('pear').move()
    }
    </textarea>
    </ol>
    <p class="c6"><span></span></p>
    <p class="c8"><span>All of the above achieve the same goal. As a beginning coder, it can be frustrating to see more
            than one way of doing things, but as you experiment and play you'll figure out which ways are your
            favorite.</span></p>
    <p class="c6"><span class="c3 c0"></span></p>
</div>

</html>