<html>
    <button onclick="loadassets('find-commands');">GO BACK</button>
<div class="docs-panel">
    <h2 class="c8 c13" id="h.7lxbq327y1bb"><span>Math.min</span></h2>
    <p class="c6"><span></span></p>
    <p class="c8"><span class="c11 c0">Math.min(</span><span class="c21 c0">VALUE1,VALUE2</span><span
            class="c11 c0">)</span></p>
    <p class="c6"><span></span></p>
    <p class="c8"><span>This function compares the two numbers given and returns the smaller one. If either of the
            arguments is not a number (for example: Math.max(100,'pizza')) it will return NaN (which is short for Not a
            Number).</span></p>
    <p class="c6"><span></span></p>
    <ol class="c10 lst-kix_77ylwtemiya-0 start" start="1">
        <div class="button-run-docs" index="0"></div><textarea>a = 100
    b = 200
    text(Math.min(a,b))
    </textarea>
    </ol>
    <p class="c6"><span class="c3 c0"></span></p>
    <p class="c6"><span class="c3 c0"></span></p>
</div>

</html>