<html>
    <button onclick="loadassets('find-commands');">GO BACK</button>
<div class="docs-panel">
    <h2 class="c8 c13" id="h.yys8tfvf85ge"><span>offscreen()</span></h2>
    <h2 class="c8 c27 c13" id="h.skxhqo2zywgx"><span class="c14 c34"></span></h2>
    <p class="c8"><span>Checks if the stamp or location given is off the tablet's screen.</span></p>
    <ul class="c10 lst-kix_bik9ykj4zg20-0">
        <li class="c4 c5"><span class="c11 c0">offscreen(</span><span class="c11 c20 c0">STAMP</span><span
                class="c11 c0">)</span></li>
        <li class="c4 c5"><span class="c11 c0">offscreen(</span><span class="c11 c20 c0">x,y</span><span
                class="c11 c0">)</span></li>
    </ul>
    <p class="c6"><span></span></p>
    <p class="c8"><span>If the stamp or location is offscreen, the function returns true.</span></p>
    <p class="c6"><span></span></p>
    <p class="c8"><span>For example, this code moves the capsule back to the center of the screen every time it goes
            offscreen.</span></p>
    <ol class="c10 lst-kix_jke7eqrq1hu1-0 start" start="1">
        <div class="button-run-docs" index="0"></div><textarea>capsule = stamp('capsule',376,512,100).rotate(random(360))
    function loop() {
    &nbsp; if (offscreen(capsule)) {
    &nbsp; &nbsp; capsule.move(376,512).rotate(random(360))
    &nbsp; }
    &nbsp; capsule.move(UP,25)
    }
    </textarea>
    </ol>
</div>

</html>