<html>
        <button onclick="loadassets('find-commands');">GO BACK</button>
<div class="docs-panel">
    <h2 class="c8 c13" id="h.o8foyb83ptq"><span>send</span><span>() / get()</span></h2>
    <p class="c6"><span></span></p>
    <p class="c8"><span>The send and get functions are used together to share data between multiple devices running your
            app.</span></p>
    <p class="c6"><span></span></p>
    <p class="c8"><span>The send command pushes whatever you want out to every other device currently looking at your
            app. Those other devices receive the message via the get function.</span></p>
    <p class="c6"><span></span></p>
    <p class="c8"><span>For example, this program allows multiple people to send alerts to everyone else's
            device.</span></p>
    <p class="c4 c19"><span class="c0"></span></p>
    <ol class="c10 lst-kix_dsm8i8sr836e-0 start" start="1">
        <div class="button-run-docs" index="0"></div><textarea>function get(x,y) {
    &nbsp; alert('They tapped position: ' + x + ',' + y) &nbsp;
    }
    function tap() {
    &nbsp; get(x,y);
        send(x,y)
    }
    </textarea>
    </ol>
    <p class="c6"><span class="c0"></span></p>
    <p class="c8"><span>To see this code work, make an app with the lines above, then scan the app's QR code onto a
            phone. Tap the screen on the computer, and the phone will say something like "They tapped position 376,124".
            Tap the phone, and the computer will do the same.</span></p>
    <p class="c6"><span></span></p>
    <p class="c8"><span>The exchange happens fast, so the send and get methods allow you to make mutliplayer, real-time
            games. Here's a more interesting example. It gives every player an avatar they can move </span><span>with
            their finger</span><span>.</span></p>
    <p class="c6"><span></span></p>
    <ol class="c10 lst-kix_z91xgxbk3nqk-0 start" start="1">
        <div class="button-run-docs" index="1"></div><textarea>avatars = {}
    function get(name,x,y) {
    &nbsp; if (avatars[name]) {
    &nbsp; &nbsp; avatars[name].move(x,y)
    &nbsp; } else {
    &nbsp; &nbsp; avatars[name] = stamp(name,x,y)
    &nbsp; }
    }
    choice = prompt('What stamp do you want to be?')
    me = stamp(choice)
    function drag() {
    &nbsp; me.move(x,y)
    &nbsp; send(choice,x,y)
    }
    </textarea>
    </ol>
    <p class="c4 c19"><span class="c0"></span></p>
</div>

</html>