<html>
    <button onclick="loadassets('find-commands');">GO BACK</button>
<div class="docs-panel">
    <h2 class="c8 c13" id="h.5rbf06m0wvdm"><span>silence()</span></h2>
    <p class="c6"><span></span></p>
    <p class="c8"><span>Turns off all songs and sounds. The following program plays a song until you tap the
            screen.</span></p>
    <p class="c6"><span></span></p>
    <ol class="c10 lst-kix_4pb9p6u6qc-0 start" start="1">
        <div class="button-run-docs" index="0"></div><textarea>song('1812')
    function tap() {
    &nbsp; silence()
    }
    </textarea>
    </ol>
</div>

</html>