<html>
    <button onclick="loadassets('find-commands');">GO BACK</button>
<div class="docs-panel">
    <h2 class="c8 c13" id="h.af8q8y8zm58k"><span>String.charAt</span></h2>
    <p class="c6"><span></span></p>
    <p class="c8"><span class="c11 c0">string.charAt(</span><span class="c21 c0">INDEX</span><span
            class="c11 c0">)</span></p>
    <p class="c6"><span></span></p>
    <p class="c8"><span>This function tells you what character is at a particular place within a string. Each character
            is assigned a number, starting with zero. (A lot of things in programming start counting at zero. There's a
            good reason for it, but it's complicated to explain. You get used to it in time.)</span></p>
    <p class="c8"><span>For example:</span></p>
    <ol class="c10 lst-kix_oy2jt1a4jiu0-0 start" start="1">
        <div class="button-run-docs" index="0"></div><textarea>alphabet = 'abcdefghijklmnopqrstuvwxyz'
    text(alphabet.charAt(4))
    </textarea>
    </ol>
    <p class="c8"><span>This program will put the letter 'e' on the screen.</span></p>
    <p class="c6"><span></span></p>
</div>

</html>