<html>
        <button onclick="loadassets('find-commands');">GO BACK</button>
<div class="docs-panel">
    <h2 class="c8 c13" id="h.527n86pa6xq9"><span>String.substring</span></h2>
    <p class="c6"><span></span></p>
    <p class="c8"><span class="c11 c0">string.substr(</span><span class="c21 c0">INDEXA, </span><span
            class="c21 c35 c0">INDEXB</span><span class="c11 c0">)</span></p>
    <p class="c6"><span></span></p>
    <p class="c8"><span>This function returns a subset of a string. The first argument is the start position
            (zero-based) and the second (optional) parameter is the (also zero-based) position of the last character to
            return. If you don't hand in a second parameter, it returns all the characters from the start index to the
            end of the string.</span></p>
    <p class="c6"><span></span></p>
    <p class="c8"><span>For example:</span></p>
    <ol class="c10 lst-kix_noc8t0amtku2-0" start="4">
        <div class="button-run-docs" index="0"></div><textarea>alphabet = 'abcdefghijklmnopqrstuvwxyz'
    text(alphabet.substring(15),100,100)
    text(alphabet.substring(2,6),100,300)
    </textarea>
    </ol>
    <p class="c6"><span class="c0"></span></p>
    <p class="c8"><span>Wait, how is this different from String.substr? They're nearly the same, but only differ in the
            second parameter. Substr says 'start at fourth street and walk five blocks'. Substring says 'start at fourth
            street and walk until ninth street'. You can use whichever one you prefer.</span></p>
    <p class="c6"><span></span></p>
    <p class="c6"><span></span></p>
</div>

</html>